$lightColor: #ffffff;
$middleColor: #a7a7a7;

$middlePadding: 5%;

%full-area {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  //width: 100vw;
  height: 100vh;
}

.main {
  @extend %full-area;
}

.main-page {
  @extend %full-area;
  display: grid;
  grid-template-rows: 5% 1fr;
}
.menu-block {
  max-width: 1400px;
  width: 100vw;
  @media (max-height: 1000px) {
    height: 5%;
  }
  @media (max-height: 800px) {
    height: 10%;
  }
  @media (max-height: 600px) {
    height: 20%;
  }
  @media (max-height: 400px) {
    height: 20%;
  }
  background-color: $lightColor;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

%photos-block__arrow {
  position: absolute;
  top: 45%;
  left: $middlePadding;
  cursor: pointer;
  color: $middleColor;
}

.photos-block {
  //height: 100%;
  @media (max-height: 1000px) {
  margin-top: 1%;
  }
  @media (max-height: 800px) {
    margin-top: 3%;
  }
  @media (max-height: 600px) {
    margin-top: 6%;
  }
  @media (max-height: 400px) {
    margin-top: 10%;
  }
  .photos-block__back {
    @extend %photos-block__arrow;
  }
  .photos-block__forward {
    @extend %photos-block__arrow;
    left: auto;
    right: $middlePadding;
  }
}


